.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }

  body {
    color: #1abc9c;
  }

  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color{
    background-color: #1abc9c;
    box-shadow: 5px 10px black;
  }
  
  a{
    text-decoration: none;
  }